.inquiryWrapper {
    max-width: 1200px;
    margin: 0 auto;

    .myInfoMain {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 40px;
        margin-top: 50px;
    }

    .inquirySection {
        flex: 1;

        .inquiryHeader {
            .mainTitle {
                font-size: 24px;
                border-bottom: 2px solid var(--black-800);
                padding-bottom: 10px;
            }

            .inquiryTitle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 100px;
                padding: 10px;
                border-bottom: 1px solid var(--black-500);

                div {
                    display: flex;
                    gap: 50px;

                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    p:first-child {
                        width: 60px;
                    }
                }
            }
        }

        .inquiryItem {
            border-bottom: 1px solid var(--black-500);
        }

        .inquiryList {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 100px;
            padding: 10px;
            font-size: 14px;
            cursor: pointer;

            div {
                display: flex;
                gap: 50px;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p:first-child {
                    width: 60px;
                }
            }

            .answerState {
                &.completed {
                    color: var(--main-color);
                }
                &.waiting {
                    color: var(--black-500);
                }
            }
        }

        .inquiryContent {
            padding: 20px;
            font-size: 14px;

            &.question {
                background-color: var(--black-50);
            }

            &.answer {
                background-color: var(--black-100);
                border-top: 1px solid var(--black-100);
            }
        }
    }

    .inquiryBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
    }
}
.noInquiries {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
