.wishListWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;

    .myInfoMain {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 40px;
        margin-top: 50px;
    }

    .wishListSection {
        width: 100%;
        margin: 0 auto;

        .wishListTitle {
            display: flex;
            gap: 10px;
            padding-bottom: 10px;
            border-bottom: 2px solid var(--black);

            .mainTitle {
                font-size: 24px;
            }

            .subTitle {
                font-size: 15px;
            }
        }

        .wishListCard {
            font-size: 15px;
            margin: 5px 0;

            .total {
                margin: 15px 0 20px;
            }

            .wishList {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
            }
        }
    }
}
