.myInfoWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 100px;
    box-sizing: border-box;

    .myInfoMain {
        width: 100%;
        max-width: 1000px;
        margin: 50px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sideMenu {
        width: 300px;
        flex-shrink: 0;
    }
    .checkInfo {
        flex: 1;
        min-width: 280px;
        .mainTitle {
            font-size: clamp(18px, 4vw, 24px);
            font-weight: 500;
            margin-bottom: clamp(10px, 3%, 20px);
        }

        .subTitle {
            font-size: clamp(16px, 3.5vw, 20px);
            margin-bottom: clamp(8px, 2%, 10px);
        }

        .description {
            color: var(--gray-600);
            font-size: clamp(12px, 3vw, 15px);
        }

        .submitForm {
            display: flex;
            flex-direction: column;
            gap: clamp(10px, 3%, 12px);
            padding: clamp(20px, 5%, 30px) 0;
            border-top: 2px solid var(--black);
            border-bottom: 1px solid var(--black-700);

            .submitInput {
                display: grid;
                grid-template-columns: clamp(100px, 25%, 140px) 1fr;
                align-items: center;
                margin-bottom: 0;

                .password {
                    display: flex;
                    align-items: center;
                    gap: clamp(2px, 1%, 4px);

                    .require {
                        color: var(--red-color);
                    }
                }
            }
        }

        .submitBtn {
            display: flex;
            justify-content: center;
            margin-top: clamp(30px, 7%, 40px);
        }
    }
}

.errorMessage {
    color: var(--red-color);
    font-size: clamp(13px, 1.2vw, 13px);
    margin-top: 5px;
}
