.productCardWrapper {
  min-width: 126px;
  min-height: 269px;
  height: auto;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .imageWrapper {
    cursor: pointer;
    position: relative;
    width: 100%;

    .titleImage {
      object-fit: cover;
    }
  }

  .productInfo {
    padding-top: 6px;

    .productTitleDetail {
      font-size: 10px;
      color: var(--black-400);
    }

    .productTitle {
      font-size: 13px;
      color: var(--black-700);
    }

    .priceWrapper {
      padding-top: 6px;

      .discountWrapper {
        display: flex;
        gap: 4px;

        .discount {
          font-size: 13px;
          color: var(--red-color);
        }

        .discountPrice {
          font-size: 13px;
          color: var(--black-800);
          font-weight: 700;
        }
      }

      .price {
        font-size: 12px;
        color: var(--black-200);
        text-decoration: line-through;
      }

      .discountPrice {
        font-size: 13px;
        color: var(--black-800);
        font-weight: 700;
      }
    }

    .review {
      font-size: 10px;
      color: var(--black-300);
      padding-top: 2px;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}
.basketIconWrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3%;
  right: 4%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: var(--main-color);
  }
}
