.personalInfoWrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(8px, 5vw, 10px);
    background-color: var(--main-fourth-color);
    margin: 50px 0;
    padding: clamp(16px, 2vw, 20px);
    width: 100%;

    .myInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex: 1 1 300px;
        min-height: 130px;
        background-color: var(--white);
        padding: clamp(8px, 1vw, 10px);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .userInfo {
            display: flex;
            align-items: center;
            gap: clamp(8px, 1vw, 10px);

            .grade {
                font-size: clamp(13px, 1vw, 16px);
                color: var(--main-color);
                border: 1px solid var(--main-color);
                padding: clamp(8px, 1vw, 10px);
            }

            .user {
                font-size: clamp(16px, 1vw, 20px);
            }
        }

        .checkGrade {
            display: flex;
            flex-wrap: wrap;
            gap: clamp(8px, 1vw, 10px);

            .gradeAll,
            .nextGrade {
                flex: 1 1 auto;
                background-color: var(--black-50);
                border-radius: 10px;
                color: var(--black-700);
                border: 1px solid var(--black-50);
                font-size: clamp(13px, 1vw, 16px);
                padding: clamp(8px, 1vw, 10px);
                cursor: pointer;
                white-space: nowrap;
            }
        }
    }

    .point,
    .coupon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1 1 100px;
        min-height: 80px;
        background-color: var(--white);
        padding: clamp(8px, 1vw, 10px);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        .title {
            display: flex;
            align-items: center;
            font-size: clamp(15px, 1vw, 20px);
            color: var(--black-700);
            gap: 5px;
        }
    }

    .point {
        .credit {
            color: var(--main-color);
            margin: 0;
            font-size: clamp(16px, 1vw, 26px);
        }

        .content {
            font-size: clamp(13px, 1vw, 16px);
            color: var(--black-500);
            margin: 0;
        }
    }

    .coupon {
        .content {
            color: var(--main-color);
            margin: 0;
            font-size: clamp(16px, 1vw, 26px);
        }
    }
}
