.myInfoWrapper {
    max-width: 800px;
    margin: 0 auto;

    .myInfoMain {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 40px;
        margin-top: 50px;

        .content {
            max-width: 700px;
        }
    }

    .checkInfo {
        .mainTitle {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .subTitle {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .description {
            color: var(--gray-600);
            font-size: 15px;
        }

        .submitForm {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 30px 0;
            border-top: 2px solid var(--black);
            border-bottom: 1px solid var(--black-700);

            .submitInput {
                display: grid;
                grid-template-columns: 140px 1fr;
                align-items: center;
                margin-bottom: 0;

                .password {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    .require {
                        color: var(--red-color);
                    }
                }
            }
        }

        .submitBtn {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }
    }
}
.errorMessage {
    color: var(--red-color);
    font-size: 12px;
    margin-top: 5px;
}
