.count-wrapper {
  .selected-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .selected-title {
      width: 60%;
    }
    .selected-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      border: 1px solid red;
      padding: 5px 0px;
      font-size: 14px;
      .count-wrapper {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 16px;
        .count-pointer {
          cursor: pointer;
        }
        .count-number {
          font-weight: 600;
        }
      }

      .price-wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
      }
    }
  }
}
