.reviewWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;

    .myInfoMain {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 40px;
        margin-top: 50px;
    }

    .reviewWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;

        .review {
            font-size: 24px;
            margin: 5px 0;
        }

        .reviewdetail {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            gap: 10px;
            width: 574px;
            border-top: 2px solid var(--black);
        }
    }
}
