.headerWrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;

  .userServices {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;

    a {
      text-decoration: none;
      color: var(--main-color);
    }

    .signup {
      color: var(--main-color);
      cursor: pointer;
    }
    .login,
    .customerManagement {
      color: var(--black-700);
    }
    .signup,
    .login,
    .customerManagement {
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .signup::after,
    .login::after {
      content: "|";
      margin: 0 5px;
    }

    .customerManagement {
      display: flex;
      gap: 3px;
    }
  }
  .headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    gap: 20px;

    .logo {
      a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
      }
    }
    .searchBar {
      width: 100%;
      max-width: 500px;
    }
    .subMenu {
      display: flex;
      font-size: 30px;
      gap: 20px;
      a {
        display: flex;
        align-items: center;
      }
    }
    .logo-mobile {
      display: none;
    }
  }
}
.hamburger-overlay {
  position: fixed;
  top: 0px;
  height: 100vh;
  right: 0%;
  transition: 0.4s ease-in-out;
  background-color: var(--black-50);
  border-radius: 20px;
  padding: 20px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  .hamburger-menu-list {
    cursor: pointer;
  }
}

.logo-header {
  display: none;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 843px) {
  .userServices {
    .signup,
    .login,
    .customerManagement {
      font-size: 10px !important;
    }
  }
  .logo {
    display: none !important;
  }
  .logo-mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .userServices {
    .signup,
    .login,
    .customerManagement {
      display: none !important;
    }
  }
  .logo {
    display: none !important;
  }
  .logo-mobile {
    display: block !important;
  }
  .subMenu {
    display: none !important;
  }
  .hamburger-menu {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--black-50);
    &:hover {
      background-color: var(--main-color);
    }
  }
}
