.headerWrapper {
    padding: 0 150px;
    .userServices {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .signup {
            color: var(--main-color);
        }
        .signup,
        .login,
        .customerManagement {
            font-size: 8px;
        }

        .signup::after,
        .login::after {
            content: "|";
            margin: 0 5px;
        }

        .customerManagement::after {
            content: "";
        }
    }
    .headerMain {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            gap: 20px;
            .logo1 {
                width: 59px;
                height: 26px;
            }

            .logo2 {
                width: 47px;
                height: 17px;
            }
        }

        .subMenu {
            display: flex;
            font-size: 24px;
            gap: 20px;
        }
    }
}
