.sideMenuWrapper {
    width: 140px;
    height: auto;

    .sideMenuTitle {
        font-size: 22px;
        font-weight: 700;
        color: var(--black-800);
    }

    .menuList {
        list-style: none;
        padding: 0;
        margin-top: 25px;
        border: 1px solid var(--black-100);
        cursor: pointer;

        .menuContent {
            font-size: 10px;
            color: var(--black-600);
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.active {
                color: var(--main-third-color);
            }

            &:hover {
                background-color: var(--main-fourth-color);
            }
        }
    }
}
