.navBarWrapper {
    display: flex;
    padding: 0 165px;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .category {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .categoryIcon {
            font-size: 17px;
        }

        .categorytitle {
            font-size: 13px;
        }
    }

    .subCategory {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        flex-grow: 1;
    }

    .subCategory p {
        font-size: 12px;
    }
}
