.navBarWrapper {
  padding: 15px 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1280px;

  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;

    .categoryIcon {
      display: flex;
      align-items: center;
      font-size: 17px;

      &.active {
        color: var(--main-color);
      }
    }

    .categoryTitle {
      font-size: 15px;

      &.active {
        color: var(--main-color);
        font-weight: bold;
      }
    }

    .categoryContent {
      position: absolute;
      top: 36px;
      left: 0;
    }
  }

  .subCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-grow: 1;
  }

  .subCategory p {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
  }
}

@media (max-width: 764px) {
  .navBarWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0px;
    margin: 0 auto;
    .category {
      margin-top: 10px;
      border-top: 1px solid var(--black-200);
      border-bottom: 1px solid var(--black-200);
      padding: 10px 0px;
    }
  }

  .subCategory {
    padding: 20px;
    display: grid !important;
    gap: 0px !important;
    grid-template-columns: repeat(2, minmax(0, 1fr)); // minmax 추가
    width: 100%; // 명시적 너비 설정

    p {
      padding: 10px;
      border: 1px solid var(--black-200);
      width: 100%; // 각 항목도 꽉 차게
    }
  }
}

@media (max-width: 458px) {
  .subCategory {
    display: grid !important;
    grid-template-columns: repeat(1, 4fr);
  }
}
