.list-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 7px 0 2px 0;

  .extra {
    font-size: 12px;
    color: var(--black-500);
  }

  .infomation {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    padding: 5px 0;
    border-bottom: 1px solid var(--black-100);

    .infomation-type {
      width: 65px;
      padding: 10px 0;
      display: flex;
      align-items: start;
      font-size: 12px;
      color: var(--black-400);
    }
    .infomation-detail {
      padding: 10px 0;
      width: 135px;
      display: flex;
      gap: 4px;
      flex-direction: column;
      align-items: start;
      justify-self: start;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -5%;
      .infomation-sub {
        font-size: 10px;
        color: var(--black-500);
      }
    }
  }
}
