.orderDetailWrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;

    .myInfoMain {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 40px;
        margin-top: 50px;
    }

    .orderDetailSection {
        width: 100%;
        margin: 0 auto;

        .orderDetailTitle {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 600px;
            padding-bottom: 10px;

            .mainTitle {
                font-size: 24px;
                margin: 5px 0;
            }
        }

        .orderDetailForm {
            .productSection {
                .productNum {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--black-500);
                    padding: 15px 0 20px;
                }
                .productNum h2 {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                }
                .productNum div {
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    gap: 5px;

                    .ask {
                        text-decoration: none;
                        color: var(--main-color);
                    }
                }
                .productList {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 30px 0;
                    gap: 20px;
                }
            }

            .trackingSection {
                display: flex;
                flex-direction: column;
                margin-top: 50px;

                .trackingTitle {
                    padding-bottom: 20px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    border-bottom: 1px solid var(--black-500);
                }

                .trackingInfo {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 5px 0;
                }

                .deliveryType {
                    color: var(--balck-800);
                }

                .deliveryStatus {
                    font-size: 14px;
                    color: var(--balck-800);
                }
            }

            .paymentSection {
                display: flex;
                flex-direction: column;
                margin-top: 50px;

                .paymentTitle {
                    padding-bottom: 20px;
                    margin-bottom: 10px;
                    font-size: 16px;
                    border-bottom: 1px solid var(--black-500);
                }

                .paymentInfo {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 5px 0;

                    .infoLabel {
                        color: var(--balck-800);
                    }

                    .infoValue {
                        font-size: 14px;
                        color: var(--balck-800);
                    }
                }
            }
        }
    }
}
