.signup-container {
  h1 {
    padding: 20px 0;
  }
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }

  .form-group-address {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    .form-address {
      display: flex;
      justify-content: space-between;
      gap: 4px;
    }
  }
}

.signUpBtnWrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 180xp;
  margin: 0 auto;
}
