.product-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 40px;
  gap: 40px;

  .img-wrapper {
    max-width: 300px;
    width: 100%;
    padding-bottom: 5px;
    border: 1px solid var(--black-200);
  }

  .product-text-wrapper {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
