.resultPart-wrapper {
  h3 {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding: 20px 0px;
  }

  .btn-wrap {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    .buy {
      max-width: 200px;
    }
  }
}

.btn-wrap-tablet {
  display: none;
}

@media (max-width: 764px) {
  .resultPart-wrapper {
    width: 355px;
    h3 {
      font-size: 14px;
    }
    .btn-wrap {
      display: none;
      width: 300px;
      border: 1px solid red;
    }
    .btn-wrap-tablet {
      display: flex !important;
      gap: 3px;
      justify-content: center;
    }
  }
}

@media (max-width: 623px) {
  .resultPart-wrapper {
    h3 {
      width: 100%;
      max-width: 300px;
    }
  }
}

@media (max-width: 423px) {
  .btn-wrap-tablet {
    display: none !important;
  }
}
