.paymentWrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 30px 0;

    .paymentTitle {
        margin: 0 auto;
        padding: 30px 0;
        font-size: 24px;
        text-align: center;
    }

    .paymentForm {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .section {
            background-color: var(--white);
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

            .sectionTitle {
                font-size: 20px;
                font-weight: 500;
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid var(--black-600);
            }
        }
        .infoRow {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            span:first-child {
                color: var(--black-500);
                width: 120px;
            }
        }

        .addressRow {
            justify-content: space-between;
        }

        .paymenDetails {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 30px;

            .leftColumn {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            .couponInput {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-top: 15px;

                span {
                    color: var(--black-500);
                    width: 120px;
                }
            }

            .pointSection {
                display: flex;
                align-items: flex-start;
                gap: 15px;
                margin-top: 15px;

                span {
                    color: var(--black-500);
                    width: 120px;
                }
            }

            .pointInput {
                display: flex;
                gap: 15px;
                flex: 1;

                .inputWrapper {
                    flex: 1;

                    p {
                        color: var(--black-500);
                        font-size: 14px;
                        margin-top: 8px;
                    }
                }
            }
        }
        .paymentMethod {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 15px;

            span {
                color: var(--black-500);
                width: 120px;
            }
        }

        .paymentSummary {
            background-color: var(--black-100);
            padding: 25px;
            border: 1px solidvar(--black-100);
            border-radius: 5px;
            height: fit-content;

            .summaryTitle {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .summaryContent {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .summaryRow {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    span:first-child {
                        color: var(--black-500);
                    }

                    &.sub-row {
                        padding-left: 20px;
                    }

                    &.total {
                        font-weight: 500;
                        margin-top: 10px;
                        padding-top: 15px;
                        border-top: 1px solid var(--black-800);
                    }
                }
            }
        }

        .submitButton {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }
    }
}

// 상품 아코디언
.productAccordion {
    .accordionHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        margin: 20px 0;

        &:hover {
            background-color: var(--main-fourth-color);
        }

        .moreProducts {
            color: var(--black-600);
            font-size: 14px;
        }

        .arrow {
            transition: transform 0.2s ease;
            color: var(--black-600);
            margin-left: 8px;

            &.expanded {
                transform: rotate(180deg);
            }
        }
    }

    .accordionContent {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        max-height: 0;

        &.expanded {
            max-height: 1000px;
        }

        &.collapsed {
            max-height: 0;
        }
    }
}

// 모달 관련
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: var(--white);
    border-radius: 12px;
    width: 100%;
    max-width: 520px;
    padding: 0;
    position: relative;

    .modalHeader {
        padding: 20px;
        border-bottom: 1px solid var(--balck-50);
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 18px;
            font-weight: 500;
            color: var(--balck-800);
        }

        .closeBtn {
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            color: var(--main-color);
        }
    }

    .addressList {
        padding: 0 20px;
    }

    .confirmBtn {
        width: 100%;
        height: 56px;
        background: var(--main-color);
        color: var(--white);
        border: none;
        border-radius: 0 0 12px 12px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 20px;
    }
}
