.product-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1280px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.noItem-wrapper {
  width: 100%;
  max-width: 1280px;
}
