.selected-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .selected-title {
    color: var(--black-800);
    padding: 10px 0px;
  }
  .count-wrapper {
    width: 100%;
    margin: 0 auto;

    .selected-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .selected-title {
        width: 60%;
      }
      .selected-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 5px 0px;
        font-size: 14px;
        .products-count-wrapper {
          display: flex;
          gap: 8px;
          align-items: center;
          font-size: 16px;
          .count-pointer {
            cursor: pointer;
          }
          .count-number {
            font-weight: 600;
          }
        }
      }
    }
  }
  .price-wrapper {
    display: flex;
  }
}

@media (max-width: 764px) {
  .count-wrapper {
    .selected-title {
      font-size: 12px;
    }
    margin: 0 auto;
    font-size: 10px !important;
    .products-count-wrapper {
      font-size: 10px !important;
    }
    .price-wrapper {
      font-size: 12px;
    }
  }
}
